@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(238, 235, 235);
    padding-left: 10px;
}
.kasten {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.innenkasten {
    margin-bottom: 15px;
    background-color: white;
    border-radius: 13px;
    width: 550px;
}
.inhalt {
    text-align: start;
    margin-left: 10px;
    padding-top: 10px;
}
.pictures {
    border-radius: 13px;
}
.myaccount {
    color: grey;
}
.contact {
    border: 2px solid rgb(14, 13, 13);
    width: 550px;
    padding-left: 10px;
}
.menu {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}
.cv {
    padding-bottom: 5px;
}
