@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
            rgba(68, 67, 67, 0.75),
            rgba(53, 51, 51, 0.75)
        ),
        url(background.jpg);
    background-size: cover;
    background-position: center;
}
nav {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    text-align: end;
    list-style-position: inside;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
.kasten {
    background-color: #858383;
    border: 0px solid rgb(255, 255, 255);
    margin: auto;
    max-width: 1150px;
    display: flex;
    flex-direction: row;
}
.content {
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}
.content h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
}
.rightside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
}
.innenkasten {
    margin-top: 37px;
    margin-left: 50px;
    background-color: white;
    color: black !important;
    border-radius: 13px;
    width: 270px;
    height: max-content;
}
.inhalt {
    text-align: center;
    padding: 5%;
}
.contact {
    box-sizing: border-box;
    border: 2px solid rgb(14, 13, 13);
    width: 580px;
    margin: auto;
    text-align: center;
}
